apiVersion: v1
kind: ConfigMap

metadata:
  name: {{ app_name }}-config
  namespace: {{ namespace_name }}

data:
  ENVIRONMENT: "{{ app_env }}"
  REDIS_HOST: "{{ redis_host }}"
  APP_VERSION: "{{ app_version }}"
  LOG_LEVEL: "{{ log_level }}"
