apiVersion: apps/v1
kind: Deployment

metadata:
  name: {{ app_name }}
  namespace: {{ namespace_name }}

spec:
  replicas: {{ replica_count }}  #scale_replicas

  selector:
    matchLabels:
      app: {{ app_name }}

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0

  template:
    metadata:
      labels:
        app: {{ app_name }}
      annotations:
        checksum/config: "{{ configmap_hash }}"

    spec:

      containers:

      - name: fastapi

        image: {{ image_name }}

        ports:
        - containerPort: {{ container_port }}

        envFrom:
        - configMapRef:
            name: {{ app_name }}-config

        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ app_name }}-secret
              key: REDIS_PASSWORD

        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"

        readinessProbe:
          httpGet:
            path: /
            port: {{ container_port }}
          initialDelaySeconds: 10
          periodSeconds: 5

        livenessProbe:
          httpGet:
            path: /
            port: {{ container_port }}
          initialDelaySeconds: 30
          periodSeconds: 10

      - name: redis

        image: redis:7

        ports:
        - containerPort: 6379
